<!DOCTYPE html>
<html ng-app="imageUploader">
  <head>
    <meta charset="utf-8" />
    <title>Image Uploader</title>
    <link rel="stylesheet" href="public/styles/main.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  </head>
  <body>
    <div id="content" ng-controller="loadController as vm">
      <button ng-click="upload(imagelist)">Upload</button>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}};">
          <div>
            {{finish}}/{{total}}
          </div>
        </div>
      </div>
      <ul>
        <li ng-repeat="eachResult in success" value="{{eachResult}}" class="bg-info">{{eachResult}}</li>
        <br>
        <li ng-repeat="eachResult in fail" value="{{eachResult}}" class="bg-danger">{{eachResult}}</li>
      </ul>
    </div>

    <script src="lib/jquery-2.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.1.0/angular-mocks.js"></script>
    <script src="public/scripts/mainController.js"></script>
    <script src="public/scripts/mainService.js"></script>
  </body>
</html>